---
layout: default
robots: noindex, nofollow
---

{% assign collections = site.collections | sort: "keyVal" %}
{% for collection in collections %}
{% if collection.title %}
  {% assign posts = collection.label %}
  {% if site[posts].size > 0 %}
    <div id="{{ collection.id }}" class="content-element">
      <h2>{{ site[posts] | size }} {{ collection.title }}
      </h2>
      {% if collection.filterProjects %}
      <div class="filter-container">
      <input class="filter-type" type="radio" id="{{collection.label}}{{ collection.keyVal }}0" name="{{ collection.keyVal }}" value="0" checked />
      <label for="{{collection.label}}{{ collection.keyVal }}0">Show all types of projects</label>
      {% for projectType in collection.filterProjects %}
        <input class="filter-type" type="radio" id="{{collection.label}}{{ collection.keyVal }}{{projectType.id}}" name="{{ collection.keyVal }}" value="{{projectType.id}}" />
        <label  for="{{collection.label}}{{ collection.keyVal }}{{projectType.id}}">{{ projectType.typedesc }}</label>
      {% endfor %}
      </div>
      {% endif %}
      <div class="row {{ collection.id }}-projects">
        {% assign projects = site[posts] | sort: "keyVal" | reverse %}
        {% for project in projects %}
          {% include card.html %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% endif %}
{% endfor %}


