<header class="container-fluid panel-cover" id="header" style="background-image: url({{ site.baseurl }}{{ site.bkimage }})">
    <div class="panel-content">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="panel-cover__title panel-title">{{ site.author.name }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-1 col-lg-2"></div>
            <div class="col-10 col-lg-8 text-center">
                <hr class="text-center panel-cover__divider">
                <p class="panel-desc text-center">{{ site.description }}</p>
            </div>
            <div class="col-1 col-lg-2"></div>
        </div>
        <hr class="panel-cover__divider text-center panel-cover__divider--secondary">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <nav class="cover-navigation navigation--social">
                            <ul class="navigation">
                                {% for social in site.socials %}
                                <!-- GitHub -->
                                <li class="navigation__item">
                                    <a href="{{ social.link }}"
                                       title="{{ social.link-title }}" target="_blank">
                                        <i class="{{ social.icon }}" role='presentation'></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav class="cover-navigation navigation--menu">
                            <div class="hidden-bar"></div>
                            <ul class="navigation">
                                {% assign collections = site.collections | sort: "keyVal" %}
                                {% for collection in collections %}
                                    {% if collection.title %}
                                        <li class="navigation__item">
                                            <a href="{{ site.baseurl }}/#{{collection.id}}"
                                                                title="link to {{collection.title}}"
                                                                class="panel-button">
                                                <i class="{{collection.icon}}"></i>&nbsp;{{collection.title}}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-cover--overlay"></div>
</header>
{% include menu.html %}
