.card-link{
  text-decoration: none;
  color: var(--dark-text);
  width: 100%;
  height: 100%;
}
.card-link:hover{
  color: var(--dark-text);
}
.card{
  border-radius: 0 var(--card-radius) 0 var(--card-radius);
  border-radius: var(--card-radius);
  //box-shadow: 6px 6px 0px 0px rgba(0,0,0,.6);
  font-size: 1.2rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--card-bg);
  transition: all 0.3s ease-in-out ;
  display: flex;
  align-items: stretch;
}
.card-element {
  display: flex;
}
.card-img{
  //width: 100%;
  //height: 100%;
  aspect-ratio: 1 / 1;
  //border-radius: 0 var(--card-radius) 0 var(--card-radius);
  border-radius: 50vh;
  //border: 0.1px solid var(--dark-text);
  //margin: 0;
  padding: 0;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  width: 75%;
  margin-top: 12.5%;
  margin-left: 12.5%;
}
.card:hover{
  background-color: var(--card-bg-hover);
  transform: translateX(2px) translateY(2px);
  //box-shadow: 4px 4px 0px 0px rgba(0,0,0,.6);
}
.card h3{
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--primary-color);
}
.card:hover h3{
}
.card__header-info{
  padding-left: 1rem;
  padding-top: 1rem;

}
.card__header-info p{
  padding: 0;
  margin: 0;
}
.foreign-link{
  color: var(--primary-color);
  text-decoration: none;
  //border-radius: 20px;
  border-radius: 0 10px 0 10px;
  border-radius: 10px 10px 10px 10px;
  //box-shadow: 4px 4px 0px 0px rgba(0,0,0,.6);

  border: 2px solid var(--primary-color);
  transition: all 0.3s;
  padding: 3px 6px;
  line-height: 2rem;
  margin-top: 10px;
  background-color: var(--card-bg);
}
.foreign-link:hover{
  color: var(--clear-text);
  background-color: var(--primary-color);
  //box-shadow: 2px 2px 0px 0px rgba(0,0,0,.6);
  transform: translateX(2px) translateY(2px);
}
.card__header-details{
  //padding-left: 10px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 5px;
}
.card__header-details ul{
  list-style-type: none;
  padding-left: 0;
}
.card__header-subtitle{
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.card-desc{
  padding-left: 1rem;
  padding-right: 1rem;
}
.card-video{
  width: 100%;
  height: 250px;
}
.hidden_video{
  width: 0;
  height: 0;
}