.panel-cover{
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  color: var(--clear-text);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 20;
}
.user-image{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 3px solid var(--clear-text);
}
.navigation{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}
.navigation--social .navigation__item{
  width: 37px;
  height: 37px;
}
.navigation--social .navigation__item a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navigation__item a{
  text-decoration: none;
  color: var(--clear-text);
}
.navigation__item:hover{
  background-color: var(--clear-text);
  color: var(--dark-text);
  transition: all 0.3s;
  a{
    color: var(--dark-text);
  }
}
.navigation__item{
  border: 2px solid var(--clear-text);
  border-radius: 10px;
  padding: 5px 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}
.navigation--menu .navigation__item{
  padding: 5px 10px;
}
.navigation__item:last-child{
  margin-right: 0;
}
.panel-cover--overlay{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  z-index: 0;
  background-color: rgba(68,68,68,0.6);
  background-image: -webkit-linear-gradient(-410deg, rgba(68,68,68,0.6) 20%, rgba(0,0,0,0.9));
  background-image: linear-gradient(140deg, rgba(68,68,68,0.6) 20%, rgba(0,0,0,0.9))
}
.panel-cover__divider--secondary{
  width: 30%;
  margin-right: auto;
  margin-left: auto ;
  margin-bottom: 30px;
}
.panel-content{
  position: relative;
  z-index: 1;
  //width: 40%;
}
.panel-cover__divider{
  border-top: 2px solid;
}
.panel-title{
  margin-top: 10px;
  font-size: 6rem;
  font-family: "Lobster Two", serif;
}
.panel-desc{
  font-size: 2rem;
  font-weight: 300;
}
.navigation-menu{
  //height: 10px;
  padding-top: 5px;
  width: 100%;
  background-color: var(--dark-text);
  position: sticky;
  top:0;
  z-index: 10;

  padding-left: 30px;
  padding-right: 30px;
}
.homepage-default .navigation-menu{
  margin-top: -60px;
}

.menu-container{
  position: relative;
}
@media screen and (max-width: 700px ){
  .homepage-default .navigation-menu{
    margin-top: -150px;
  }
}
.navigation-menu .navigation{
  margin-bottom: 0;
}
//.navigation--menu{
//  position: sticky;
//  top:0;
//  z-index: 10;
//}