.project-title{
  color: var(--primary-color);
  margin-top:20px;
}
.project-video{
  width: 100%;
  height: 300px;
}
.pictures-header{
  font-style: italic;
  font-weight: 400;
}

.project-image{
  width: 100%;
}
.project-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.project-gallery figcaption {
  display: none;
  text-align: center;
}
.project-gallery figure {
  width: 20%;
  height: auto;
  margin: 10px;
}

.pswp__caption__center{
  text-align: center !important;
}