<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
<div class="body-content">
    {% include menu.html %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="project-title">{{ page.title }}</h1>
            </div>
        </div>
        <div class="block-desc">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p class="year-block">
                        {{ page.year }}
                        {% if page.year and page.enterprise %} - {% endif %}
                        {% if page.year and page.school %} - {% endif %}
                        {{ page.enterprise }}{{ page.school }}
                    </p>
                    <div class="row g-0">
                        <div class="col-12 col-lg-6 no-gutter">
                            <div class="card__header-details">
                                <ul>
                                    {% if page.client %}
                                    <li>Client: {{ page.client }}</li>
                                    {% endif %}
                                    {% if page.format %}
                                    <li>Type: {{ page.format }}</li>
                                    {% endif %}
                                    {% if page.role %}
                                    <li>Role: {{ page.role }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <span>{{ page.tech-label }}</span>
                            <div class="tech-list bg-cartridge">
                                {% for tech in page.techs %}
                                {% include tech.html %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <p class="short-desc">{{ page.excerpt }}</p>
                </div>
                {%if page.photodir %}
                <div class="col-12 col-lg-4 text-right">
                    <p class="pictures-header">Click on the pictures to see them in fullscreen</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-8 block-links">
                {% for link in page.links %}
                {% include outside-link.html %}
                {% endfor %}
            </div>
            <div class="col-4">

            </div>
        </div>
        <hr class="panel-cover__divider text-center">
        <div class="row">
            <div class="col-12 col-lg-8">
                {{content}}
            </div>
            {% if page.video %}
            <div class="col-12 col-lg-4">
                <video preload="auto" class="project-video" controls>
                    <source src="{{ page.video }}" type="video/mp4">
                </video>
            </div>
            {% endif %}
        </div>
    </div>
    {% include footer.html %}
</div>
{% if page.photodir %}
    {% include pswp-root.html %}
{% endif %}
</body>

</html>
